github "philackm/ScrollableGraphView"
github "kishikawakatsumi/KeychainAccess"
github "HarshilShah/DeckTransition"
github "CityOfZion/neo-swift" "master"
github "ashleymills/Reachability.swift"
github "pkluz/PKHUD" 
github "onevcat/Kingfisher"
github "uias/Tabman"
github "hyperoslo/Cache"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Fabric.json"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Crashlytics.json"
github "jiecao-fm/SwiftTheme"
github "teambition/WebBrowser"
github "Marxon13/M13Checkbox"
github "airbnb/lottie-ios" "master"
